h4 {
    display: inline;
    margin-left: 50px;
    height: 5px;
    border: solid black;
    text-align: center;
    /* font-size: large; */
    width: 70px;
    background-color: yellow;
    /* border: solid black; */
}