.navbar {
    /* border: 2px solid black; */
    /* margin-top: 1rem; */
    padding-bottom: 0.7rem;
    border-bottom: 1px solid black;
    width: 100%;
    background: cadetblue;
    /* border: solid black; */
    color: #000000;
    opacity: 0.85;
    /* FOR TRANSPARENCY */
    z-index: 999;
    /* SO THAT NAVBAR WILL ALWAYS REMAIN ON TOP */
    font-size: 40px;
    margin-top: 50px;
}

.navbar_container {
    padding-left: 1rem;
    display: flex;
    /* background-color: blue; */
    font-size: 40px;
}

.navbar_container li {
    list-style: none;
    margin-left: 2rem;
    font-size: 1.8rem;
    font-size: 40px;
}

.navbar_container a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
    /* font-size: 40px; */
    /* background-color: blue; */
}

.navbar_container a:hover {
    color: white;
    font-size: 40px;
}

.title {
    text-align: center;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid black;
    max-width: 280px;
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem auto 1rem auto;
    /* font-size: 40px; */
}

.orders {
    list-style: disc;
    margin-top: 1.2rem;
    font-size: 40px;
}

.factory {
    margin-bottom: 0.2rem;
    font-size: 30px;
}